<section class="perfil-page" *ngIf="usuarioActual; else sinUsuario">
  <div class="perfil-card">
    <img
      [src]="usuarioActual.imagenPerfil || 'assets/avatar-default.png'"
      alt="Foto de perfil"
    />

    <h1>{{ usuarioActual.nombre }} {{ usuarioActual.apellido }}</h1>
    <p>@{{ usuarioActual.nombreUsuario }}</p>

    <div class="datos">
      <p><strong>Correo:</strong> {{ usuarioActual.correo }}</p>

      <p>
        <strong>Fecha de nacimiento:</strong>
        {{ usuarioActual.fechaNacimiento }}
      </p>

      <p><strong>Descripción:</strong> {{ usuarioActual.descripcion }}</p>

      <p><strong>Perfil:</strong> {{ usuarioActual.perfil }}</p>
    </div>
  </div>

  <div class="filtros-perfil">
    <button
      type="button"
      [class.activo]="vistaActiva === 'publicaciones'"
      (click)="cambiarVista('publicaciones')"
    >
      Mis publicaciones
    </button>

    <button
      type="button"
      [class.activo]="vistaActiva === 'comentarios'"
      (click)="cambiarVista('comentarios')"
    >
      Mis comentarios
    </button>
  </div>

  <p class="error" *ngIf="error">{{ error }}</p>

  <div class="ultimas" *ngIf="vistaActiva === 'publicaciones'">
    <h2>Mis últimas 3 publicaciones</h2>

    <app-publicacion-card
      *ngFor="let publicacion of publicaciones"
      [publicacion]="publicacion"
      [usuarioActual]="usuarioActual"
    ></app-publicacion-card>

    <p *ngIf="publicaciones.length === 0">
      Todavía no realizaste publicaciones.
    </p>
  </div>

  <div class="ultimas" *ngIf="vistaActiva === 'comentarios'">
    <h2>Mis comentarios</h2>

    <article
  class="comentario-perfil"
  *ngFor="let comentario of misComentarios"
>
  <div class="comentario-header">
    <span class="comentario-publicacion">
      {{ comentario.publicacion?.titulo }}
    </span>

    <span class="comentario-fecha">
      {{ comentario.createdAt | date:'dd/MM/yyyy HH:mm' }}
    </span>
  </div>

  <div class="comentario-texto">
    {{ comentario.mensaje }}
  </div>

  <span
    class="comentario-editado"
    *ngIf="comentario.modificado"
  >
    ✏️ Comentario editado
  </span>
</article>

    <p *ngIf="misComentarios.length === 0">
      Todavía no realizaste comentarios.
    </p>
  </div>
</section>

<ng-template #sinUsuario>
  <section class="perfil-page">
    <p class="error">No hay usuario logueado.</p>
  </section>
</ng-template>