<nav class="navbar">
  <div class="logo">
    <img src="/favicon32.png" alt="Red Social" />
    <span>Red Social</span>
  </div>

  <div class="links" *ngIf="!estaLogueado()">
    <a routerLink="/login" routerLinkActive="activo">
      Login
    </a>

    <a routerLink="/registro" routerLinkActive="activo">
      Registro
    </a>
  </div>

  <div class="links" *ngIf="estaLogueado()">

    <a routerLink="/publicaciones" routerLinkActive="activo">
      Publicaciones
    </a>

    <a routerLink="/mi-perfil" routerLinkActive="activo">
      Mi Perfil
    </a>

    <a
      [appAdminOnly]="usuarioActual"
      routerLink="/dashboard/usuarios"
      routerLinkActive="activo"
    >
      Dashboard
    </a>

    <a href="#" (click)="cerrarSesion(); $event.preventDefault()">
      Cerrar Sesión
    </a>

  </div>
</nav>