<section class="publicaciones-page">
  <div class="contenedor">
    <h1>Publicaciones</h1>

    <form
  class="form-publicacion"
  [formGroup]="publicacionForm"
  (ngSubmit)="crearPublicacion()"
>
  <div class="form-header">
    <div>
      <h2>Crear publicación</h2>
      <p>Compartí una idea, novedad o imagen con la comunidad.</p>
    </div>

    <span class="badge-form">📝 Nuevo post</span>
  </div>

  <div class="campo">
    <label>Título</label>
    <input
      type="text"
      placeholder="Ej: Mi primera publicación"
      formControlName="titulo"
    />
  </div>

  <div class="campo">
    <label>Descripción</label>
    <textarea
      placeholder="¿Qué querés compartir?"
      formControlName="descripcion"
    ></textarea>
  </div>

  <div class="campo archivo">
    <label>Imagen opcional</label>
    <input type="file" (change)="seleccionarImagen($event)" />
  </div>

  <button type="submit">
     Publicar
  </button>
</form>

    <p class="mensaje" *ngIf="mensaje">{{ mensaje }}</p>
    <p class="error" *ngIf="error">{{ error }}</p>

    <div class="filtros">
      <button
        type="button"
        [class.activo]="orden === 'fecha'"
        (click)="cambiarOrden('fecha')"
      >
        Más recientes
      </button>

      <button
        type="button"
        [class.activo]="orden === 'likes'"
        (click)="cambiarOrden('likes')"
      >
        Más likes
      </button>
    </div>

    <app-publicacion-card
      *ngFor="let publicacion of publicaciones"
      [publicacion]="publicacion"
      [usuarioActual]="usuarioActual"
      (like)="manejarLike($event)"
      (eliminar)="eliminarPublicacion($event)"
    ></app-publicacion-card>

    <div class="paginacion">
      <button
        type="button"
        (click)="paginaAnterior()"
        [disabled]="offset === 0"
      >
        Anterior
      </button>

      <span>
        Mostrando {{ offset + 1 }} -
        {{
          offset + limit > total
            ? total
            : offset + limit
        }}
        de {{ total }}
      </span>

      <button
        type="button"
        (click)="paginaSiguiente()"
        [disabled]="offset + limit >= total"
      >
        Siguiente
      </button>
    </div>
  </div>
</section>